







body{
  
background: rgb(50,50,50);

}

.lightbox{
  padding: 10 0;
  width: 150px;
  background-color: black;
  margin: auto;
  text-align: center;
}

.light  {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 5px auto;
	display: inline-block;
	background-color: darkgray;
	border-color: grey;
	border-color: grey;
	border-style: solid;
  
}
	
.red:hover{
	 background-color: red;
	 box-shadow: 0px 0px 150px red ;
	  
	}
	
.yellow:hover{
	 background-color: yellow;
	 box-shadow: 0px 0px 150px yellow ;
	  
	}
	
.green:hover{
	 background-color: green;
	 box-shadow: 0px 0px 150px green ;
	  
	}



  



  
.pole {
  width: 50px;
  height: 70px;
  background-color: black;
  margin: auto;
  

